{% extends 'base.html.twig' %}

{% block title %}Création d'une rencontre{% endblock %}
{% block stylesheets %}
 <link href="../css/home.css" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="container">
        <h1>Créer une nouvelle rencontre</h1>

        {{ form_start(form) }}
        
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la nouvelle rencontre</button>

        {{ form_end(form) }}
    </div> 

{% endblock %}
