{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block stylesheets %}
 <link href="../css/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table class="table" style="background-color:rgba(255, 255, 255, 0.47)">
        <thead>
            <th>Email</th>
            <th>Rôles</th>
            <th></th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                            Utilisateur
                        {% elseif role == "ROLE_EDITOR" %}
                            Editeur
                        {% elseif role == "ROLE_MODO" %}   
                            Modérateur 
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur
                        {% endif %}
                    {% endfor %}
                </td>
                <td></td>
                <td><a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path('admin_supprimer_utilisateur', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>Il n'y a pas d'utilisateur inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
