{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}
{% block stylesheets %}
 <link href="../css/home.css" rel="stylesheet">
{% endblock %} 
{% block body %}
 <div class="container">
        <h1>Page de paiement</h1>

    </div> 

{% endblock %}
